---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - lab.heainseo.dev
  resources:
  - slojobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - lab.heainseo.dev
  resources:
  - slojobs/finalizers
  verbs:
  - update
- apiGroups:
  - lab.heainseo.dev
  resources:
  - slojobs/status
  verbs:
  - get
  - patch
  - update
